<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{shared :: head('seasonal')}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>seasonal</title>
</head>


<body>
  <div th:replace="~{shared :: nav}"></div>
  <div class="container">
    <br>
    <h1>Add New Recipe</h1>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <form class="form" method="POST" action="/addRecipe">
          <div class="form-group">
            <label for="title" class="control-label">Author</label>
            <input type="text" class="form-control" th:value="${#authentication.name}" name="author" readonly>
          </div>

          <div class="form-group">
            <label for="title" class="control-label">Recipe Title</label>
            <input type="text" class="form-control" name="title" id="title">
            <div th:if="${#fields.hasErrors('recipe.title')}">
              <p th:each="error : ${#fields.errors('recipe.title')}" class="alert alert-danger"
                th:text="${error}">Invalid Title></p>
            </div>
          </div>

          <div class="form-group">
            <label for="ingredientsList" class="control-label">Ingredients - separate ingredients with commas</label>
            <textarea class="form-control" name="ingredientsList" id="ingredientsList" rows=3></textarea>
            <div th:if="${#fields.hasErrors('recipe.ingredients')}">
              <p th:each="error : ${#fields.errors('recipe.ingredients')}" class="alert alert-danger"
                th:text="${error}">Invalid Title></p>
            </div>
          </div>

          <div class="form-group">
            <label for="instructions" class="control-label">Instructions</label>
            <textarea class="form-control" name="instructions" id="instructions" rows=3></textarea>
          </div>

          <div class="form-group">
            <label for="imageUrl" class="control-label">Image URL</label>
            <input type="text" class="form-control" name="imageUrl" id="imageUrl">
            <div th:if="${#fields.hasErrors('recipe.imageUrl')}">
              <p th:each="error : ${#fields.errors('recipe.imageUrl')}" class="alert alert-danger"
                th:text="${error}">Invalid Image URL></p>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Recipe</button>
          </div>

        </form>
      </div>
    </div>
  <footer th:replace="~{shared :: footer}"></footer>
  </div>
  <!-- Full jQuery.js CDN, Popper.js CDN, Bootstrap JS CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
