<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${title}">seasonal</title>
  <!--Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar" th:fragment="nav">
        <a href="/" id="seasonalHomeButton"><h4>seasonal</h4></a>

        <a sec:authorize="!isAuthenticated()" href="/login"  class="btn btn-primary" id="loginButton">Login</a>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
          <a class="btn btn-primary" href="/admin">Account Administration</a>
        </div>

        <div sec:authorize="isAuthenticated()">
          <label for="profileButton">Hello, <span id="printedUsername" th:text="${#authentication.name}"></span>!&nbsp;&nbsp;&nbsp;</label>
          <a class="btn btn-primary" id="profileButton" th:href="@{/profile/{username}(username=${#authentication.name})}" href="/">Your Profile</a>&nbsp;&nbsp;&nbsp;
          <a class="btn btn-secondary" id="logoutButton" th:href="@{/logout}">Logout</a>
        </div>
  </nav>

  <div th:fragment="footer">
    <br><br><br><br><br><br><br><br>
    <footer class="rounded-bottom rounded-top">
        <p>Created by Jack Elder</p>
    </footer>
  </div>

  <!-- Full jQuery.js CDN, Popper.js CDN, Bootstrap JS CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
