<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{shared :: head('seasonal')}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>seasonal</title>
</head>


<body>
  <div th:replace="~{shared :: nav}"></div>
  <div class="container">

    <header>
      <br>
      <h1 id="homeTitle">seasonal</h1>
      <h5>search for recipes based on foods in season near you</h5>
      <br>
    </header>
    <main>
      <ul class="list-group" id="errorMessages"></ul>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="locationSelection">Location</label>
            <select class="form-control" th:field="${availability.locationId}" name="locationSelection" id="locationSelection">
              <option th:each="location: ${locations}" th:text="${location.name}" th:value="${location.abbr}">State</option>
            </select>
          </div>

          <div class="form-group">
            <label for="seasonSelection">Time of Year</label>
            <select class="form-control" th:field="${availability.seasonId}" name="seasonSelection" id="seasonSelection">
              <option th:each="season: ${seasons}" th:text="${season.name}" th:value="${season.id}">Time of Year</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" id="ingredientSearchButton" class="btn btn-primary">Search</button>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="/newRecipe/">Add New Recipe</a>
          </div>
        </form>
        </div>
      </div>

      <div class="row" id="ingredientResults">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <h4>Ingredients</h4>
        <p>Check or uncheck foods to filter your recipe results by ingredients.</p>
        <form class="form-horizontal">
          <div class="flex-container row">
          <ul  id="ingredientResultsList" class="row">

          </ul>
          </div>
        </form>
        <button type="button" id="recipeSearchButton" class="btn btn-primary">Find Recipes</button>
        </div>
      </div>

      <div id="recipeResults">
        <br>
        <h4>Recipes</h4>
          <div id="recipeResultsList" class="row">

          </div>

        <!-- <ul id="recipeResultsList">
        </ul> -->
      </div>
    </main>
    <footer th:replace="~{shared :: footer}"></footer>
  </div>

  <!-- Full jQuery.js CDN, Popper.js CDN, Bootstrap JS CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/home.js"></script>
</body>

</html>
